/* Base colors */
:root {
    --background-color: #0F0F0F; /* Dark Background */
    --text-color: #FFFFFF; /* White */
    --primary-color: #1E90FF; /* Dodger Blue */
    --hover-color: #0070F3; /* Lighter Blue */
}
#FFFFFF
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #e2f3e5, #67d177);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4a6e3d;;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #0F0F0F;
    text-decoration: none;
    font-weight: 500;
    
   
    transition: background-color 0.3s ease, color 0.3s ease;
}


